{% extends "components/ui/auth_shell.html" %}

{% block title %}Confirm Login Code | SaaS Boilerplate{% endblock %}

{% block auth_heading %}Enter login code{% endblock %}
{% block auth_subtitle %}We've sent a login code to your email. Please enter it below.{% endblock %}

{% block auth_content %}
<form class="space-y-5" method="POST">
  {% csrf_token %}

  {% include "components/ui/input.html" with id="id_code" name="code" type="text" label="Login code" placeholder="Enter code" required=True %}

  {% include "components/error_block.html" %}

  {% include "components/ui/button.html" with text="Confirm" icon="fa-solid fa-right-to-bracket" type="submit" class="w-full" %}

  <div class="text-center text-sm">
    <a href="{% url 'account_login' %}" class="link link-primary">Back to sign in</a>
  </div>
</form>
{% endblock %}
