{% extends "components/ui/auth_shell.html" %}

{% block title %}Set New Password | SaaS Boilerplate{% endblock %}

{% block auth_heading %}Set new password{% endblock %}
{% block auth_subtitle %}Choose a new password for your account.{% endblock %}

{% block auth_content %}
<form method="POST" action="{{ action_url }}" class="space-y-5">
  {% csrf_token %}
  {% include "components/ui/input.html" with id="id_password1" name="password1" type="password" label="New password" placeholder="New password" required=True %}
  {% include "components/ui/input.html" with id="id_password2" name="password2" type="password" label="Confirm new password" placeholder="Confirm new password" required=True no_margin=True %}

  {% include "components/error_block.html" %}

  {% include "components/ui/button.html" with text="Update password" icon="fa-solid fa-key" type="submit" class="w-full" %}

  <div class="text-center text-sm">
    <a href="{% url 'account_login' %}" class="link link-primary">Back to sign in</a>
  </div>
</form>
{% endblock %}
