<div class="px-6 py-4 flex items-center justify-between">
    <div class="flex items-center gap-4">
        <div class="w-9 h-9 {% if black_bg %}bg-black{% else %}bg-[#fafafa]{% endif %} rounded flex items-center justify-center">
            <i class="fa-solid {{ icon }} {% if black_bg %}text-white{% else %}text-gray{% endif %} text-xs"></i>
        </div>
        <div>
            <p class="text-sm text-black">{{ title }}</p>
            <p class="text-xs text-gray mt-0.5">{{ subtitle }}</p>
        </div>
    </div>
    {{ action }}
</div>